body {
    background-color:#FDA7DF;
}
.head {
    font-family: cursive;
    color: blue;
    text-align: center;
}
.cat-style {
    width: 300px;
    height: 250px;
    margin: 10px;
    border-radius: 3px;
    transition: 0.7s;
}
.cat-style:hover {
    transform: scale(1.1);
}