body {
    background-color: #e17055;
}
.dog-heading {
    color: whitesmoke;
    font-family: cursive;
    font-style: italic;
    text-align: center;
}
.here-style {
    font-size: 44px;
}
.dog {
    width: 400px;
    height: 250px;
    display: block;
    margin: 0 auto;
    opacity: 0.5;
    transition: 0.5s;
}
.dog:hover {
    transform: scale(1.1);
}
.dog-details {
    font-style: italic;
    font-size: 20px;
    text-align: justify;
    color: whitesmoke;
    background-color: #ff7675;
    padding: 15px;
}
.cat-heading {
    color: whitesmoke;
    font-family: serif;
    text-align: center;
}
.cat-style {
    font-size: 45px;
}
.cat {
    width: 400px;
    height: 250px;
    display: block;
    margin: 0 auto;
    opacity: 0.7;
    transition: 0.6s;
}
.cat:hover {
    transform: scale(1.1);
}
.cat-details {
    background-color:#00b894;
    color: whitesmoke;
    font-size: 20px;
    font-style: italic;
    padding: 15px;
    text-align: justify;
}